site_name: "Tellem Docs"
site_description: "Tellem product documentation"
site_url: "https://orgtellem.github.io"

nav:
  - О продукте: index.md
  - С чего начать?:
      - Регистрация, подписка и оплата: getting-started/registration.md
      - Настройка Телеграм-бота и Mini App URL: getting-started/bot-setup.md
  - CRM-система:
      - Начало использования: modules/crm/getting-started.md
      - Создание сетки каталога: modules/crm/catalog-grid.md
      - Оформление главного экрана Телеграм-магазина: modules/crm/main-page.md
      - Настройка способов оплаты: modules/crm/new-payment-method.md
      - Работа с пригласительными ссылками (UTM-метками): modules/crm/utm-marks.md
      - Настройка уведомлений сотрудникам: modules/crm/crm-notifications.md
      - Сценарии использования:
          - Быстрый вывод товара из продажи: modules/crm/fast-product-disable.md
  - Телеграм-магазин:
      - Внешний вид и основные страницы: modules/mini-app/ui-and-pages.md
      - Оформление и оплата заказа: modules/mini-app/checkout.md
  - Полезные ссылки: useful-links.md

theme:
  name: material
  language: ru
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.highlight
    - search.suggest
  palette:
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Dark mode
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: media/logo.svg
  logo: media/logo.svg
  icon:
    logo: logo

plugins:
  - search
  - minify:
      minify_html: true
  - i18n:
      languages:
        - locale: ru
          name: Русский
          default: true
          build: true

markdown_extensions:
  - admonition
  - attr_list
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  generator: false